@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #fff;
}

.theme_btn {
  font-size: 16px;
  background-color: #582597;
  border-radius: 10px;
  padding: 0.8rem 2rem;
  color: #fff;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.theme_btn:hover {
  color: #582597;
  border: 1px solid #5b2e92;
  background-color: transparent;
}

.theme_btn_outline {
  font-size: 16px;
  background-color: transparent;
  border-radius: 10px;
  padding: 0.8rem 2rem;
  border: 1px solid #5b2e92;
  color: #582597;
  transition: all 0.3s ease;
}
.theme_btn_outline:hover {
  color: #fff;
  background-color: #582597;
}

.github_btn {
  font-size: 16px;
  background-color: #24292e;
  border-radius: 10px;
  padding: 0.8rem 2rem;
  color: #fff;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.github_btn:hover {
  color: #24292e;
  border: 1px solid #24292e;
  background-color: transparent;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.5s ease;
}

.sticky + .content {
  transition: all 0.5s ease;
  padding-top: 102px;
}

header {
  position: relative;
  background-color: rgb(30, 30, 58);
  z-index: 100;
  transition: all 0.5s ease;
}
header .navbar-expand-lg .navbar-collapse {
  justify-content: end;
}
header .theme_btn {
  border-radius: 2rem;
  color: #fff;
  padding: 0.5rem 1.7rem;
}
header .theme_btn:hover, header .theme_btn:focus {
  color: #fff;
  border-color: #fff;
}
header .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
header .logo_navbar {
  width: 150px;
  height: 60px;
}

.main_banner {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_banner .content h1 {
  font-size: 60px;
  font-weight: 800;
  line-height: 73px;
  letter-spacing: 0em;
  text-align: center;
}
.main_banner .content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
.main_banner .content .stores_links {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_banner .content .stores_links .btn {
  margin: 5px;
}

.main_banner_bg1 {
  background: url(../images/bg.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.Ecosystem_sec .Illustration img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.Ecosystem_sec .content h2 {
  font-size: 48px;
  font-weight: 700;
}
.Ecosystem_sec .content p {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}
.Ecosystem_sec .crypto_box {
  padding: 10px;
  background: rgb(30, 30, 58);
  border-radius: 10px;
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%;
}
.Ecosystem_sec .crypto_box img {
  width: 35px;
  height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 5px;
}
.Ecosystem_sec .crypto_box p {
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-align: left;
}

.product_details {
  padding-top: 100px;
}
.product_details .product_card_box {
  overflow: hidden;
  transition: all 0.3s ease;
  border-radius: 8px;
  position: relative;
}
.product_details .product_card_box:hover img {
  transform: scale(1.2);
}
.product_details .product_card_box img {
  transition: all 0.3s ease;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.product_details .product_card_box .contents {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 20px;
  height: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.product_details .product_card_box .contents h3 {
  color: #ffffff;
}
.product_details .product_card_box .contents p {
  color: #ffffff;
}
.product_details .scond_rows .product_card_box {
  height: 200px;
}
.product_details .scond_rows .contents {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: 20px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.product_details .scond_rows .contents h3 {
  color: #ffffff;
  font-size: 20px;
}
.product_details .scond_rows .contents p {
  color: #ffffff;
  font-size: 14px;
}

.Newsletter_sec .Newsletter_box {
  background: #acaabd;
  text-align: center;
  color: #fff;
  padding: 50px 100px;
  border-radius: 50px;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Newsletter_sec .Newsletter_box h2 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 40px;
  letter-spacing: 0em;
  text-align: center;
}
.Newsletter_sec .Newsletter_box .letter_fields {
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 28px;
  overflow: hidden;
}
.Newsletter_sec .Newsletter_box .letter_fields .form_group {
  position: relative;
  width: 100%;
}
.Newsletter_sec .Newsletter_box .letter_fields .form_group .form-control {
  padding-left: 30px;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  height: 50px;
  border: 0px;
  border-radius: 0px;
}
.Newsletter_sec .Newsletter_box .letter_fields .form_group span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}
.Newsletter_sec .Newsletter_box .letter_fields .theme_btn {
  background: rgb(85, 62, 140);
  width: 100%;
  padding: 16px, 0px, 16px, 0px;
  border-radius: 28px;
}

.multi_chain_box {
  background: rgb(85, 62, 140);
  padding: 20px 30px;
  box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  color: #fff;
}
.multi_chain_box img {
  width: 60px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.multi_chain_box h4 {
  font-size: 26px;
  margin-top: 10px;
  font-weight: 600;
  text-align: left;
}
.multi_chain_box ul li {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
  text-align: left;
  margin-top: 10px;
}
.multi_chain_box ul li::before {
  position: absolute;
  content: url(../images/tic.svg);
  top: 4px;
  left: -10px;
}

.main_head h3 {
  font-size: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: rgb(41, 30, 65);
  font-weight: bold;
}
.main_head p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: rgb(112, 110, 132);
}

footer {
  background-color: #0c0a25;
  color: #fff;
  padding: 70px 0;
}
footer .logo {
  height: 80px;
  width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .container {
  border: 1px solid #fff;
  padding: 20px;
  border-radius: 20px;
}
footer p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
}
footer ul li h5 {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}
footer ul li a {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
}
footer .Copyright a {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
}

#return-to-top {
  width: 40px;
  height: 40px;
  background-color: #0c0a25;
  border-radius: 100%;
  position: absolute;
  right: 10px;
  bottom: 10px;
  border: 1px dashed #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 35px;
  display: none;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_Area {
  padding: 50px 0;
}
.product_Area .product_box {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
  color: #0c0a25;
  transition: all 0.3s ease;
}
.product_Area .product_box .rating_review {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #a8b1b5;
}
.product_Area .product_box .rating_review i.fa-star {
  color: #ffb400;
  font-size: 18px;
}
.product_Area .product_box .rating_review strong {
  font-size: 12px;
}
.product_Area .product_box .rating_review .count {
  font-size: 12px;
}
.product_Area .product_box .sold_tags {
  background-color: #582597;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0.2rem 0.7rem;
}
.product_Area .product_box .image {
  width: 100%;
  height: 220px;
  overflow: hidden;
}
.product_Area .product_box .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease;
}
.product_Area .product_box .content {
  padding: 10px;
}
.product_Area .product_box .content h4 {
  color: #0c0a25;
  font-size: 25px;
  margin: 10px 0;
}
.product_Area .product_box .content h5 {
  color: #0c0a25;
  font-size: 20px;
  margin: 10px 0;
}
.product_Area .product_box .content p {
  color: #0c0a25;
  margin-bottom: 0px;
}
.product_Area .product_box .content .btn_tag {
  width: 100%;
  padding: 0.8rem 1.5rem;
  font-size: 16px;
  background-color: #582597;
  border-radius: 10px;
  display: block;
  text-align: center;
  font-weight: 600;
  color: #fff;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.product_Area .product_box .content .btn_tag:hover {
  color: #582597;
  border: 1px solid #5b2e92;
  background-color: transparent;
}
.product_Area .product_box:hover img {
  transform: scale(1.2);
}

.list-unstyled {
  padding: 50px 0;
  display: flex;
  align-items: center;
}
.list-unstyled a {
  color: #000000;
  font-size: 16px;
}
.list-unstyled li {
  color: #000000;
  font-size: 16px;
  margin-right: 5px;
}

.product-page {
  padding-bottom: 50px;
}
.product-page .slider-for img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.product-page .slider-nav img {
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  margin: 5px;
  height: 150px;
}
.product-page .content .instocks {
  padding: 4px 12px;
  background: #00234d;
  border-radius: 4px;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #fefefe;
  display: inline-block;
}
.product-page .content h2 {
  font-weight: 600;
  font-size: 34px;
  line-height: 1.09;
  letter-spacing: 0.25px;
  color: #000000;
  text-transform: capitalize;
}
.product-page .content p {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.product-page .content .rating_views {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.product-page .content .rating_views .rating {
  display: flex;
  align-items: center;
}
.product-page .content .rating_views .rating i.fa-star {
  color: #ffb400;
  font-size: 16px;
  margin-right: 2px;
}
.product-page .content .rating_views .rating i.fa-star.grey {
  color: #acaabd;
}
.product-page .content .rating_views .review {
  color: #666;
  font-size: 16px;
}
.product-page .content .price h2 {
  font-size: 30px;
}
.product-page .content .price h6 {
  font-size: 18px;
  font-weight: bold;
}
.product-page .content .price .increment_decremnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  border: 1px solid #ccc;
}
.product-page .content .price .increment_decremnt .btn {
  padding: 0.8rem 0.6rem;
  border: 1px solid #ccc;
  border-radius: 0px;
  outline: none;
  box-shadow: none;
}
.product-page .content .price .increment_decremnt .form-control {
  padding: 0.8rem 2rem;
  background-color: #fff;
  border-radius: 0px;
  text-align: center;
  border: 0px;
  outline: none;
  box-shadow: none;
}
.product-page .content .price .theme_btn_outline,
.product-page .content .price .theme_btn {
  display: block;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 992px) {
  header .navbar-toggler {
    border: 1px solid #582597;
    background-color: transparent;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    margin: 0px;
  }
  header .navbar-toggler .navbar-toggler-icon {
    width: auto;
    height: auto;
  }
  header .navbar-expand-lg .navbar-collapse {
    position: absolute;
    left: -100%;
    top: 0px;
    transition: all 0.3s ease;
    min-height: 100vh;
    width: 50%;
  }
  header .navbar-expand-lg .navbar-collapse.show {
    position: absolute;
    background-color: #0c0a25;
    left: 0px;
    top: 0px;
    transition: all 0.3s ease;
    min-height: 100vh;
    width: 50%;
  }
  header .navbar-expand-lg .navbar-collapse.show .nav-link {
    display: inline-block;
    border-bottom: 1px solid #582597;
    display: block;
    width: 100%;
    padding: 10px 15px;
  }
  header .navbar-expand-lg .navbar-collapse.show .theme_btn {
    padding: 0.5rem 2rem;
    margin-top: 10px;
    text-align: center;
  }
  .main_banner .content h1 {
    font-size: 50px;
    line-height: normal;
  }
  .product_details .product_card_box .contents {
    padding: 10px;
  }
  .product_details .scond_rows .contents h3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  header .navbar-expand-lg .navbar-collapse {
    position: absolute;
    left: -100%;
    top: 0px;
    transition: all 0.3s ease;
    min-height: 100vh;
    width: 75%;
  }
  header .navbar-expand-lg .navbar-collapse.show {
    position: absolute;
    background-color: #0c0a25;
    left: 0px;
    top: 0px;
    transition: all 0.3s ease;
    min-height: 100vh;
    width: 75%;
  }
  header .navbar-expand-lg .navbar-collapse.show .nav-link {
    display: inline-block;
  }
  header .navbar-expand-lg .navbar-collapse.show .theme_btn {
    padding: 0.5rem 2rem;
  }
  .main_banner h1 {
    font-size: 40px;
  }
  .theme_btn {
    font-size: 14px;
  }
  .theme_btn_outline {
    font-size: 14px;
  }
  .main_banner .content .stores_links {
    flex-wrap: wrap;
  }
  .main_banner .content h1 {
    font-size: 50px;
    line-height: normal;
  }
  .Ecosystem_sec .content h2 {
    font-size: 40px;
    margin: 15px 0;
  }
  .Ecosystem_sec {
    padding: 50px 0;
  }
  .main_head h3 {
    font-size: 40px;
  }
  .Newsletter_sec .Newsletter_box h2 {
    font-size: 30px;
  }
  .Newsletter_sec .Newsletter_box {
    padding: 30px;
  }
}
/* PRELOADER CSS */
.page-loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #110f2d;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-loader .txt {
  color: #666;
  text-align: center;
  top: 40%;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: bold;
  line-height: 1.5;
}

/* SPINNER ANIMATION */
.spinner {
  position: relative;
  top: 35%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-scaleout 1s infinite ease-in-out;
}
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
/* Loader CSS */
.loadContainer {
  --loaderSize: 100px;
  /* size of the container */
}

.loadCircleInner {
  --border-thickness: 5px;
  /* the bigger the loader is, the thicker this needs to be */
  --loader-base-color: 187, 0, 255;
  /* rbg color */
}

.loadContainer {
  position: relative;
  width: var(--loaderSize);
  height: var(--loaderSize);
}

.loadInner {
  width: 82.5%;
  height: 85%;
  border-radius: 100%;
  position: absolute;
  top: 7.5%;
  left: 7.25%;
}

.loadCircle {
  width: 100%;
  height: 100%;
  position: absolute;
}

.loadCircle > .loadCircleInner {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: var(--border-thickness) solid rgba(var(--loader-base-color), 0.7);
  border-right: none;
  border-top: none;
  background-clip: padding;
  box-shadow: inset 0px 0px 10px rgba(var(--loader-base-color), 0.15);
}

.loadCircle:nth-of-type(0) {
  transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}

.loadCircle:nth-of-type(0) .loadCircleInner {
  animation: loaderSpin 2.3s infinite linear;
  -o-animation: loaderSpin 2.3s infinite linear;
  -ms-animation: loaderSpin 2.3s infinite linear;
  -webkit-animation: loaderSpin 2.3s infinite linear;
  -moz-animation: loaderSpin 2.3s infinite linear;
}

.loadCircle:nth-of-type(1) {
  transform: rotate(70deg);
  -o-transform: rotate(70deg);
  -ms-transform: rotate(70deg);
  -webkit-transform: rotate(70deg);
  -moz-transform: rotate(70deg);
}

.loadCircle:nth-of-type(1) .loadCircleInner {
  animation: loaderSpin 2.3s infinite linear;
  -o-animation: loaderSpin 2.3s infinite linear;
  -ms-animation: loaderSpin 2.3s infinite linear;
  -webkit-animation: loaderSpin 2.3s infinite linear;
  -moz-animation: loaderSpin 2.3s infinite linear;
}

.loadCircle:nth-of-type(2) {
  transform: rotate(140deg);
  -o-transform: rotate(140deg);
  -ms-transform: rotate(140deg);
  -webkit-transform: rotate(140deg);
  -moz-transform: rotate(140deg);
}

.loadCircle:nth-of-type(2) .loadCircleInner {
  animation: loaderSpin 2.3s infinite linear;
  -o-animation: loaderSpin 2.3s infinite linear;
  -ms-animation: loaderSpin 2.3s infinite linear;
  -webkit-animation: loaderSpin 2.3s infinite linear;
  -moz-animation: loaderSpin 2.3s infinite linear;
}

.loadInner {
  animation: loaderSpin 5.75s infinite linear;
  -o-animation: loaderSpin 5.75s infinite linear;
  -ms-animation: loaderSpin 5.75s infinite linear;
  -webkit-animation: loaderSpin 5.75s infinite linear;
  -moz-animation: loaderSpin 5.75s infinite linear;
}

@keyframes loaderSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.does_it_work {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
  padding: 35px 10px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  border-left: 3px solid transparent;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  flex-direction: column;
  text-align: center;
}
.does_it_work .icons {
  width: 70px;
  height: 70px;
  background-color: transparent;
  border: 1px solid #0d6efd;
  color: #0d6efd;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.does_it_work h4 {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0;
}
.does_it_work p {
  font-size: 16px;
  color: #666;
}
.does_it_work a {
  color: #0d6efd;
  font-size: 16px;
  font-weight: 500;
}
.does_it_work:hover {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.8);
  border-left: 3px solid #0d6efd;
}/*# sourceMappingURL=style.css.map */